
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

:root {
    --primary: #052430;
    --dark-grey: #444444;
    --bg-blue: #0a5079;
    --text: #0a0b0c;
    --h-spacing: 30px;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-size:14px*/
    color: var(--text);
}

html * {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1 {
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    color:rgb(9, 53, 61);
}

h2 {
    font-family: Montserrat;
    font-weight: 700;
    color: var(--primary);
}

.h-space {
    padding-top: var(--h-spacing);
    padding-bottom: var(--h-spacing);
}

.inner-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

#nav-bar > .inner-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    background-color: rgb(235, 236, 223);
}

#desktop-menu {
    display: none;
}

#logo {
    flex: 1;
}
#logo img {
    width: 100px;
}
#hero {
    background-image: url(img/Main_Search.png);
    background-position: center;
    background-size: cover;
    height: 530px;
}
.search {
    height: 500px;
    border-bottom: 6px solid var(--primary);
}

#hero > .inner-wrapper > .content {
    text-align: end;
    max-width: 200px;
    margin-left: auto;
}

.subheader {
    color: var(--primary);
}

#hero {
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    height: 530px;
}

#hero > .inner-wrapper > .content {
    text-align: end;
    max-width: 200px;
    margin-left: auto;
}

.subheader {
    color: var(--primary);
}

.search {
    background-image: url(..);
    background-size: cover;
    height: 500px;
    border-bottom: 6px solid var(--primary);
}

.button {
    text-decoration: none;
    color: white;
    border: 1px solid var(--primary);
    background: var(--bg-blue);
    border-radius: 22px;
    padding: 13px 32px;
    display: inline-block;
    box-shadow: 2px 2px 10px #0000003d;
    border: 2px solid #ffffff63;
    line-height: 10px;
    font-family: Montserrat;
}

a {
    color: var(--primary);
}


.text-button-element {
    text-align: center;
}
@media (min-width: 768px) {
    #burger {
        display: none;
    }
    #hero {
        background-position: top;
        height: 460px;
    }

    #hero h2 {
        margin-right: 80px;
    }
    .teaser-element .flexbox {
        display: flex;
    }
}


.button {
    text-decoration: none;
    color: rgb(199, 194, 216);
    border: 1px solid var(--primary);
    background: var(--bg-blue);
    border-radius: 22px;
    padding: 13px 32px;
    display: inline-block;
    box-shadow: 2px 2px 10px #0000003d;
    border: 2px solid #ffffff63;
    line-height: 10px;
    font-family: Montserrat;
}

a {
    color: var(--primary);
}


.text-button-element {
    text-align: center;
}

.footer-wrapper {
    text-align: center;
    color: white;
}
.main-footer{
    background: var(--dark-grey);
}
.base-footer{
    background: var(--dark-grey);
}

address {
    font-style: normal;
}

#main-footer #copyright {
    text-align: center;
    background: var(--dark-grey);
    color: white;
}
@media (min-width: 768px) {
    #desktop-menu {
       /* display: block;*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    }
    
    #hero {
        background-position: top;
        height: 460px;
    }

    #hero h2 {
        margin-right: 80px;
    }
    .teaser-element .flexbox {
        display: flex;
    }

    .top-footer .flexbox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .top-footer address {
        text-align: start;
    }
    .top-footer .flexbox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .top-footer address {
        text-align: start;
    }
}
