


.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

:root {
    --primary: #052430;
    --dark-grey: #444444;
    --bg-blue: #0a5079;
    --h-spacing: 30px;
    --white: white;
    --form: #c0c6ca63; 
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    /*font-size:14px*/
    color: var(--bg-blue);
}

html * {
    box-sizing: border-box;
}

#icon img{
    width: 14px;
}

#icon img ul li {
    display: inline-block;
}
#icon img ul li:hover {
    background: #555;}
    
#icon img ul li:hover ul {
    display: block;}
    
#icon img ul li ul {
        position: absolute;
        width: 200px;
        display: none;
}


.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}


.section img {
    max-width: 500px;
}
.content {
    align-items: right;
}
.login-form {
    background: rgb(229, 240, 245);

    color: var(--dark-grey);
    padding: 10px;

}

.form-container {
        text-decoration: none;
        color: var(--primary);
        width: 100%;
        display: inline-block;
        line-height: 10px;
        font-family: Montserrat;
        width: 100%;
        box-sizing: border-box;
        
}
input{
    padding: 5px;
    margin: 10px;
    border: 1px var(--dark-grey);
    border-radius: 7px;
    font-size: 16px;
    font-family: Montserrat;
    width: 100%;
    box-sizing: border-box;

}


.inner-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    align-items: center;
}
.inner-wrapper .content {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    align-items: center;
}
.inner-wrapper a {
    text-decoration: none;
    color: var(--primary);
}
.inner-wrapper a:link {
    color: var(--primary);
}
#main-header {
    padding-bottom: var(--h-space);
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(248, 248, 248);
}
#logo {
    width: 200px;
}

.main-nav {
    display: none;
}


.slider {
    background-image: url(/APVSA/img/background.jpg);
    height: 240px;
    background-position: center;
    background-size: cover;
    align-content: center;
}
.search {
    margin-left: 30px;
}

main .seal {
    position: relative;
    align-items: center;
}

main .seal img {
    position: absolute;
    width: 100px;
    height: auto;
    object-fit: cover;
    right: 0;
    top: -150px;
    margin: var(--h-space);
}

main .seal .search-button {
    position: absolute;
    width: 1000px;
    height: auto;
    object-fit: cover;
    right: 0;
    top: -190px;
    margin: var(--h-space);
}
#job-list img {
    color: #0a5079;
    max-height: 18px;
}

button {
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--primary);
    background: var(--bg-blue);
    border-radius: 22px;
    padding: 13px 32px;
    display: inline-block;
    box-shadow: 2px 2px 10px #0000003d;
    border: 2px solid --bg-blue;
    line-height: 10px;
    font-family: Montserrat;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;

}
button a {
    text-decoration: none;
    color: var(--white);
}
.sign-up button a {
    text-decoration: none;
    color: var(--white);
}

#category-select {
    position: absolute;
    background-color: skyblue;
    border-radius: 45px;
    color: var(--white);
    border: 30px;

    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--primary);
    background: var(--bg-blue);
    border-radius: 22px;
    padding: 13px 32px;
    display: inline-block;
    box-shadow: 2px 2px 10px #0000003d;
    border: 2px solid #ffffff63;
    line-height: 10px;
    font-family: Montserrat;
    font-size: 16px;
    
}

.search h1 {
    color: var(--white);
}
.search h3 {
    color:var(--white);
}

img {
    max-width: 100%;
}

h1 {
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-family: Montserrat;
    font-weight: 700;
}

.h-space {
    padding-top: var(--h-spacing);
    padding-bottom: var(--h-spacing);
}

a {
    color: var(--primary);
}

td,  th {
    border: 1px solid var(--white);
    padding: 8px;
  }
  
tr:nth-child(even){background-color:var(--white);}
  
tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--bg-blue);
    color: white;

  }

.text-button-element {
    text-align: center;


}
@media (min-width: 768px) {
    .top-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .burger {
        display: none;
    }
    #logo {
        background-position: top;
        padding-top: 10px
    }

    #hero h2 {
        margin-right: 80px;
    }
    .teaser-element .flexbox {
        display: flex;
    }
}



a {
    color: var(--primary);
}


.text-button-element {
    text-align: center;
}

.footer-wrapper {
    margin-top: 20px;
    text-align: center;
    color: white;
}
.main-footer{
    background:  rgba(10, 80, 121, 0.5);
    color: b;
    padding-top: 15px;
}
#main-footer-logo {
    width: 150px;
}
.base-footer{
    background: var(--dark-grey);
    padding: 15px;
    color: var(--white);
    text-decoration: none;
}
.base-footer ul {
    list-style-type: none;
}
.base-footer a {
    color: var(--white);
    text-decoration: none;
}

address {
    font-style: normal;
}

#main-footer #copyright {
    text-align: center;
    background: var(--dark-grey);
    color:var(--white);
}
@media (min-width: 768px) {

    .top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--white);padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1024px;
    }

    #main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: var(--white);
    }

    }
    .teaser-element .flexbox {
        display: flex;
    }

   /* .top-footer .flexbox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .top-footer address {
        text-align: start;
    }
    .top-footer .flexbox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .top-footer address {
        text-align: start;
    }*/

